<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
	p.a {
		font-family: Arial Helvetica sans-serif;
		
	}

	.button {
		padding: 10px 65px;
		cursor: pointer;
		text-align: center;
		color:#fff;
		background-color: #4CAF50;
		border: none;
		border-radius: 45px;
		box-shadow: 0 9px #999;   
		width:33%;
	}
</style>
<body>
<div class="center jumbotron col-sm-4 well hack" style="border:solid grey; border-width:3px;">
  <p></p>
  <p class="a" style="font-size: 45px;">Welcome to Attendants!</p>
</div>
<div class="center jumbotron col-sm-8 well hack" style="border-top: 3px solid grey; border-bottom:  3px solid grey; border-right:  3px solid grey;">
  <p class="a" style="font-size: 35px;">
   Checking students' attendance and making teacher's life easier! 
  </p>

  <%= link_to "Sign up", signup_path, class: "btn btn-default btn-lg button" %> 
  <br>
  <br>
  <%= link_to "Login", login_path, class: "btn btn-default btn-lg button" %> 

</div>
</body>

<!--Thugwaffle1->